migration-tool/migration-web/src/test/resources/data/certificate_dataset.dtd

<!ELEMENT dataset (
    certificate*,
    certificate_state*,
    consent*,
    databasechangelog*,
    databasechangeloglock*,
    original_certificate*)>

<!ELEMENT certificate EMPTY>
<!ATTLIST certificate
    ID CDATA #REQUIRED
    CERTIFICATE_TYPE CDATA #REQUIRED
    CIVIC_REGISTRATION_NUMBER CDATA #REQUIRED
    CARE_UNIT_NAME CDATA #REQUIRED
    SIGNING_DOCTOR_NAME CDATA #REQUIRED
    SIGNED_DATE CDATA #REQUIRED
    VALID_FROM_DATE CDATA #REQUIRED
    VALID_TO_DATE CDATA #REQUIRED
    DELETED CDATA #IMPLIED
    DOCUMENT CDATA #REQUIRED
    CARE_UNIT_ID CDATA #REQUIRED
    CARE_GIVER_ID CDATA #REQUIRED
    WIRETAPPED CDATA #REQUIRED
>

<!ELEMENT certificate_state EMPTY>
<!ATTLIST certificate_state
    CERTIFICATE_ID CDATA #REQUIRED
    TARGET CDATA #REQUIRED
    STATE CDATA #REQUIRED
    TIMESTAMP CDATA #REQUIRED
>

<!ELEMENT consent EMPTY>
<!ATTLIST consent
    CIVIC_REGISTRATION_NUMBER CDATA #REQUIRED
>

<!ELEMENT databasechangelog EMPTY>
<!ATTLIST databasechangelog
    ID CDATA #REQUIRED
    AUTHOR CDATA #REQUIRED
    FILENAME CDATA #REQUIRED
    DATEEXECUTED CDATA #REQUIRED
    ORDEREXECUTED CDATA #REQUIRED
    EXECTYPE CDATA #REQUIRED
    MD5SUM CDATA #IMPLIED
    DESCRIPTION CDATA #IMPLIED
    COMMENTS CDATA #IMPLIED
    TAG CDATA #IMPLIED
    LIQUIBASE CDATA #IMPLIED
>

<!ELEMENT databasechangeloglock EMPTY>
<!ATTLIST databasechangeloglock
    ID CDATA #REQUIRED
    LOCKED CDATA #REQUIRED
    LOCKGRANTED CDATA #IMPLIED
    LOCKEDBY CDATA #IMPLIED
>

<!ELEMENT original_certificate EMPTY>
<!ATTLIST original_certificate
    ID CDATA #REQUIRED
    RECEIVED CDATA #REQUIRED
    DOCUMENT CDATA #REQUIRED
    CERTIFICATE_ID CDATA #IMPLIED
>

