schemas/src/main/resources/schemas/core_components/clinicalprocess_healthcond_certificate_1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:riv:clinicalprocess:healthcond:certificate:1"
           xmlns:iso="urn:iso:21090:dt:1"
           targetNamespace="urn:riv:clinicalprocess:healthcond:certificate:1"
           elementFormDefault="qualified" attributeFormDefault="unqualified"
           version="1.0">

  <xs:import namespace="urn:iso:21090:dt:1" schemaLocation="iso_dt_subset_1.0.xsd"/>

  <xs:element name="utlatande" type="utlatandeType"/>

  <xs:complexType name="utlatandeType">
    <xs:sequence>
      <xs:element name="utlatande-id" type="utlatandeId"/>
      <xs:element name="typAvUtlatande" type="utlatandeTyp"/>
      <xs:element name="kommentar" type="nonEmptyString" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="signeringsdatum" type="dateTime"/>
      <xs:element name="skickatdatum" type="dateTime" minOccurs="0"/>

      <xs:element name="patient" type="patientType"/>
      <xs:element name="skapadAv" type="hosPersonalType"/>
      <xs:element name="vardkontakt" type="vardkontaktType"
                  minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="referens" type="referensType" minOccurs="0"
                  maxOccurs="unbounded"/>
      <xs:element name="aktivitet" type="aktivitetType"
                  minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="rekommendation" type="rekommendationType"
                  minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="observation" type="observationType"
                  minOccurs="0" maxOccurs="unbounded"/>

      <xs:any namespace="##other" processContents="lax" minOccurs="0"
              maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="utlatandeId">
    <xs:attribute name="root" type="nonEmptyString" use="required"/>
    <xs:attribute name="extension" type="nonEmptyString" use="optional"/>
  </xs:complexType>

  <xs:complexType name="utlatandeTyp">
    <xs:attribute name="code" type="xs:string" use="required"/>
    <xs:attribute name="codeSystem" type="xs:string" use="required" fixed="f6fb361a-e31d-48b8-8657-99b63912dd9b"/>
  </xs:complexType>

  <xs:complexType name="personId">
    <xs:attribute name="root" type="patientIdRoot" use="required"/>
    <xs:attribute name="extension" type="patientIdExtension" use="required"/>
  </xs:complexType>
  <xs:simpleType name="patientIdRoot">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:enumeration value="1.2.752.129.2.1.3.1"/>
      <xs:enumeration value="1.2.752.129.2.1.3.3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="patientIdExtension">
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{8}-\d{4}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="hsaId">
    <xs:attribute name="root" type="xs:string" use="required" fixed="1.2.752.129.2.1.4.1"/>
    <xs:attribute name="extension" type="nonEmptyString" use="required"/>
  </xs:complexType>

  <xs:complexType name="arbetsplatsKod">
    <xs:attribute name="root" type="xs:string" use="required" fixed="1.2.752.29.4.71"/>
    <xs:attribute name="extension" type="nonEmptyString" use="required"/>
  </xs:complexType>

  <xs:complexType name="hosPersonalType">
    <xs:sequence>
      <xs:element name="personal-id" type="hsaId">
        <xs:annotation>
          <xs:documentation>HSA-id, o.i.d för HSA-id är 1.2.752.129.2.1.4.1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fullstandigtNamn" type="nonEmptyString" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Förnamn + efternamn sammanslaget.
            Är tomt om personen har en skyddad identitet.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- Skyddad identitet -->
      <xs:element name="forskrivarkod" type="nonEmptyString" minOccurs="0"/>
      <xs:element name="befattning" type="xs:string" minOccurs="0"/>
      <xs:element name="enhet" type="enhetType"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="enhetType">
    <xs:sequence>
      <xs:element name="enhets-id" type="hsaId">
        <xs:annotation>
          <xs:documentation>HSA-id, o.i.d för HSA-id är 1.2.752.129.2.1.4.1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arbetsplatskod" type="arbetsplatsKod" minOccurs="0">
        <xs:annotation>
          <xs:documentation>o.i.d för arbetsplatskod är 1.2.752.29.4.71</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="enhetsnamn" type="nonEmptyString"/>
      <xs:element name="postadress" type="nonEmptyString" minOccurs="0"/>
      <xs:element name="postnummer" type="nonEmptyString" minOccurs="0"/>
      <xs:element name="postort" type="nonEmptyString" minOccurs="0"/>
      <xs:element name="telefonnummer" type="nonEmptyString" minOccurs="0"/>
      <xs:element name="epost" type="nonEmptyString" minOccurs="0"/>
      <xs:element name="vardgivare" type="vardgivareType"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="vardgivareType">
    <xs:sequence>
      <xs:element name="vardgivare-id" type="hsaId">
        <xs:annotation>
          <xs:documentation>HSA-id, o.i.d för HSA-id är 1.2.752.129.2.1.4.1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vardgivarnamn" type="nonEmptyString"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="patientType">
    <xs:sequence>
      <xs:element name="person-id" type="personId"/>
      <xs:element name="fornamn" type="nonEmptyString" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="efternamn" type="nonEmptyString"/>
      <xs:element name="mellannamn" type="nonEmptyString" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="postadress" type="nonEmptyString" minOccurs="0"/>
      <xs:element name="postnummer" type="nonEmptyString" minOccurs="0"/>
      <xs:element name="postort" type="nonEmptyString" minOccurs="0"/>

      <xs:element name="patientRelation" type="patientRelationType"
                  minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="arbetsuppgift" type="arbetsuppgiftType"
                  minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="sysselsattning" type="sysselsattningType"
                  minOccurs="0" maxOccurs="unbounded"/>

      <xs:any namespace="##other" processContents="lax" minOccurs="0"
              maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="patientRelationType">
    <xs:sequence>
      <xs:element name="relationskategori" type="iso:CD"/>
      <xs:element name="relationTyp" type="iso:CD" maxOccurs="unbounded"/>
      <xs:element name="person-id" type="personId" minOccurs="0"/>
      <xs:element name="fornamn" type="nonEmptyString" maxOccurs="unbounded"/>
      <xs:element name="efternamn" type="nonEmptyString"/>
      <xs:element name="mellannamn" type="nonEmptyString" minOccurs="0"
                  maxOccurs="unbounded"/>
      <xs:element name="postadress" type="nonEmptyString" minOccurs="0"/>
      <xs:element name="postnummer" type="nonEmptyString" minOccurs="0"/>
      <xs:element name="postort" type="nonEmptyString" minOccurs="0"/>

      <xs:any namespace="##other" processContents="lax" minOccurs="0"
              maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="arbetsuppgiftType">
    <xs:sequence>
      <xs:element name="typAvArbetsuppgift" type="nonEmptyString"/>

      <xs:any namespace="##other" processContents="lax" minOccurs="0"
              maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sysselsattningType">
    <xs:sequence>
      <xs:element name="typAvSysselsattning" type="iso:CD"/>

      <xs:any namespace="##other" processContents="lax" minOccurs="0"
              maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="vardkontaktType">
    <xs:sequence>
      <xs:element name="vardkontakttyp" type="iso:CD"/>
      <xs:element name="vardkontakttid" type="dateInterval" minOccurs="0"/>

      <xs:any namespace="##other" processContents="lax" minOccurs="0"
              maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="referensType">
    <xs:sequence>
      <xs:element name="referenstyp" type="iso:CD"/>
      <xs:element name="referensdatum" type="date" minOccurs="0"/>

      <xs:any namespace="##other" processContents="lax" minOccurs="0"
              maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="aktivitetType">
    <xs:sequence>
      <xs:element name="aktivitetskod" type="iso:CD"/>
      <xs:element name="aktivitetstid" type="partialDateInterval"
                  minOccurs="0"/>
      <xs:element name="beskrivning" type="nonEmptyString" minOccurs="0"/>

      <xs:element name="utforsVidEnhet" type="enhetType"
                  minOccurs="0"/>
      <xs:element name="beskrivsAv" type="utforarrollType"
                  minOccurs="0" maxOccurs="unbounded"/>

      <xs:any namespace="##other" processContents="lax" minOccurs="0"
              maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="utforarrollType">
    <xs:sequence>
      <xs:element name="utforartyp" type="iso:CD"/>

      <xs:element name="antasAv" type="hosPersonalType" minOccurs="0"/>

      <xs:any namespace="##other" processContents="lax" minOccurs="0"
              maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rekommendationType">
    <xs:sequence>
      <xs:element name="rekommendationskod" type="iso:CD"/>
      <xs:element name="beskrivning" type="nonEmptyString" minOccurs="0"/>
      <xs:element name="sjukdomskannedom" type="iso:CD"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0"
              maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="observationType">
    <xs:sequence>
      <xs:element name="observationskategori" type="iso:CD"
                  minOccurs="0"/>
      <xs:element name="observationskod" type="iso:CD"
                  minOccurs="0"/>
      <xs:element name="beskrivning" type="nonEmptyString" minOccurs="0"/>
      <xs:element name="observationsperiod" type="partialDateInterval" minOccurs="0"/>
      <xs:element name="varde" type="iso:PQ" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="utforsAv" type="utforarrollType"
                  minOccurs="0"/>
      <xs:element name="prognos" type="prognosType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0"
              maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="prognosType">
    <xs:sequence>
      <xs:element name="prognoskod" type="iso:CD" minOccurs="0"/>
      <xs:element name="beskrivning" type="nonEmptyString" minOccurs="0"/>
      <xs:any namespace="##other" processContents="lax" minOccurs="0"
              maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="nonEmptyString">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="date">
    <xs:annotation>
      <xs:documentation>
        Date value is a string with the format &#34;YYYY-MM-DD&#34; that conforms to the constrained ISO 8601.
        Time and timezone precision is not required.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[1-2][0-9]{3,3}-((0[1-9])|(1[0-2]))-((0[1-9])|([1-2][0-9])|(3[0-1]))"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="dateTime">
    <xs:annotation>
      <xs:documentation>
        DateTime value is a string with the format &#34;YYYY-MM-DDThh:mm:ss&#34; that conforms to the constrained ISO
        8601.
        Fraction of seconds and timezone precision is not required.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern
              value="[1-2][0-9]{3,3}-((0[1-9])|(1[0-2]))-((0[1-9])|([1-2][0-9])|(3[0-1]))T(([0-1][0-9])|(2[0-3])):([0-5][0-9]):([0-5][0-9])"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="partialDate">
    <xs:annotation>
      <xs:documentation>
        PartialDate value is a string with the format &#34;YYYY[-MM[-DD]]&#34; that conforms to the constrained ISO
        8601.
        In contrast to the date type, this type also allows for year-only and year-and-month values.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern
              value="[1-2][0-9]{3,3}(-((0[1-9])|(1[0-2]))(-((0[1-9])|([1-2][0-9])|(3[0-1])))?)?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="dateInterval">
    <xs:sequence>
      <xs:element name="from" type="date"/>
      <xs:element name="tom" type="date"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="partialDateInterval">
    <xs:sequence>
      <xs:element name="from" type="partialDate"/>
      <xs:element name="tom" type="partialDate"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ResultType">
    <xs:annotation>
      <xs:documentation xml:lang='sv'>
        Datatyp som returneras som ett generellt svar från alla förändrande tjänster, t.ex. skapa, radera, etc.
        En anropande klient skall alltid kontrollera att resultatkoden inte innehåller fel för att på så sätt veta om
        anropet lyckades.
        Alla svarskoder förutom OK och INFO betyder att åtgärden inte genomfördes.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="resultCode" type="ResultCodeType"/>
      <xs:element name="resultText" type="xs:string" minOccurs="0"/>
      <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ResultCodeType">
    <xs:annotation>
      <xs:documentation xml:lang='sv'>
        Enumerationsvärde som anger de svarskoder som finns.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK">
        <xs:annotation>
          <xs:documentation xml:lang='sv'>
            Transaktionen har utförts enligt uppdraget.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INFO">
        <xs:annotation>
          <xs:documentation xml:lang='sv'>
            Transaktionen har utförts enligt begäran, men det finns ett meddelande som konsumenten måste visa upp för
            användaren (om tillämpbart). Exempel på detta kan vara &amp;quot;kom fastande&amp;quot;.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ERROR">
        <xs:annotation>
          <xs:documentation xml:lang='sv'>
            Transaktionen har INTE kunnat utföras p.g.a ett logiskt fel. Det finns ett meddelande som konsumenten måste
            visa upp. Exempel på detta kan vara &amp;quot;tiden har bokats av annan patient&amp;quot;.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VALIDATION_ERROR">
        <xs:annotation>
          <xs:documentation xml:lang='sv'>
            En eller flera inparametrar innehåller felaktiga värden. Angiven tjänst utfördes ej.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="REVOKED">
        <xs:annotation>
          <xs:documentation xml:lang='sv'>
            Den efterfrågade informationen existerar men har rättats/dragits tillbaka och är ej längre giltig eller
            tillgänglig. Angiven tjänst utfördes ej.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="CertificateMetaType">
    <xs:sequence>
      <xs:element name="certificateId" type="nonEmptyString" />
      <xs:element name="certificateType" type="nonEmptyString" />
      <xs:element name="validFrom" type="date" />
      <xs:element name="validTo" type="date" />
      <xs:element name="issuerName" type="nonEmptyString" />
      <xs:element name="facilityName" type="nonEmptyString" />
      <xs:element name="signDate" type="date" />
      <xs:element name="available" type="nonEmptyString" />
      <xs:element name="status" type="CertificateStatusType" maxOccurs="unbounded" minOccurs="0" />
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CertificateStatusType">
    <xs:sequence>
      <xs:element name="target" type="nonEmptyString" />
      <xs:element name="type" type="StatusType" />
      <xs:element name="timestamp" type="xs:dateTime" />
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="StatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNHANDLED" />
      <xs:enumeration value="DELETED" />
      <xs:enumeration value="RESTORED" />
      <xs:enumeration value="CANCELLED" />
      <xs:enumeration value="SENT" />
      <xs:enumeration value="RECEIVED" />
      <xs:enumeration value="IN_PROGRESS" />
      <xs:enumeration value="PROCESSED" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>